.section-header {
  border-bottom: 3px solid #eaeaea; }

.section-header-breadcrumb {
  margin-bottom: 15px;
  .breadcrumb {
    margin-bottom: 12px;
    color: dimgrey; 
    a {
      padding: 7px;
      margin-right: 7px;
      color: #464646; 
      &:first-child {
        padding-left: 0; 
      }
    }
    span {
      padding-right: 7px;
      margin-right: 7px; 
    }
    .breadcrumb_sep {
      font-size: 1.4em;
      line-height: 1l; 
    }
  } 
}