.section-header {
  border-bottom: 3px solid #eaeaea; }

.section-header-breadcrumb {
  margin-bottom: 15px; }

.breadcrumb {
  margin-bottom: 12px;
  color: dimgrey; }

.breadcrumb a {
  padding: 7px;
  margin-right: 7px;
  color: #464646; }

.breadcrumb a:first-child {
  padding-left: 0; }

.breadcrumb span {
  padding-right: 7px;
  margin-right: 7px; }

.breadcrumb_sep {
  font-size: 1.4em;
  line-height: 1l; }