body {
  font-size: 14px;
  line-height: 1.8;
  font-family: "Raleway","HelveticaNeue","Helvetica Neue",sans-serif;
  color: #464646;
  margin: 0; }

h4 {
  text-transform: uppercase;
  color: #91c0c2;
  font-size: 1.07143em;
  line-height: 1.4;
  text-align: center;
  margin: 0; }

p {
  margin: 0 0 15px 0; }

li {
  list-style: none; }
  
.capitalize {
  text-transform: capitalize; }