.content{
    width: 90%;
    margin: 0 auto;
    padding-top: 1em;
    .produkti{
        width: 100%;
        color: dimgray;
        font-size: 0.65em;
        .produkti-image{
            padding-bottom: 100%;
            background-size: cover;
        }
        p{
            margin: 0;
            margin-top: 0.5em;
        }
        .produkti-price{
            margin-bottom: 2em;
        }
    }
}